/*************************************************************************/
/* Import Variables */
@import 'variables'

/*************************************************************************/
/* Custom grid container */
.{$prefix}-container
  width: 100%
  {$gutter}
  &.fixed
    margin-left: auto
    margin-right: auto
    width: $fixedWidth
  &.fixed-fluid
    margin-left: auto
    margin-right: auto
    max-width: $fixedWidth

/*************************************************************************/
/* Custom grid row */
.{$prefix}-row
  font-size: 0
  {$rowGutter}
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both

/* Base custom grid column properties */
[class*={$prefix}-col-]
  position: relative
  min-height: 1px
  display: none
  font-size: $globalFontSize
  line-height: getLineHeight(@font-size)
  {$gutter}
  &.full
    padding-left: 0
    padding-right: 0
    > .{$prefix}-row
      margin-right: 0
      margin-left: 0

/*************************************************************************/
/* Custom grid columns */
.{$prefix}-col-sm-
  for c in $styleColumns
    &{c}
      width: percentage(c / length($styleColumns))
      display: inline-block
    &offset-{c}
        margin-left: percentage(c / length($styleColumns))
    &push-{c}
      left: percentage(c / length($styleColumns))
    &pull-{c}
      right: percentage(c / length($styleColumns))

/* Custom grid columns for tablet */
@media $tablet
  .{$prefix}-col-md-
    for c in $styleColumns
      &{c}
        width: percentage(c / length($styleColumns))
        display: inline-block
      &offset-{c}
        margin-left: percentage(c / length($styleColumns))
      &push-{c}
        left: percentage(c / length($styleColumns))
      &pull-{c}
        right: percentage(c / length($styleColumns))

/* Custom grid columns for desktop */
@media $desktop
  .{$prefix}-col-lg-
    for c in $styleColumns
      &{c}
        width: percentage(c / length($styleColumns))
        display: inline-block
      &offset-{c}
        margin-left: percentage(c / length($styleColumns))
      &push-{c}
        left: percentage(c / length($styleColumns))
      &pull-{c}
        right: percentage(c / length($styleColumns))

/* Custom grid columns for large desktop */
@media $largeDesktop
  .{$prefix}-col-xl-
    for c in $styleColumns
      &{c}
        width: percentage(c / length($styleColumns))
        display: inline-block
      &offset-{c}
        margin-left: percentage(c / length($styleColumns))
      &push-{c}
        left: percentage(c / length($styleColumns))
      &pull-{c}
        right: percentage(c / length($styleColumns))

/* Custom grid columns for extra large desktop */
@media $extraLargeDesktop
  .{$prefix}-col-xxl-
    for c in $styleColumns
      &{c}
        width: percentage(c / length($styleColumns))
        display: inline-block
      &offset-{c}
        margin-left: percentage(c / length($styleColumns))
      &push-{c}
        left: percentage(c / length($styleColumns))
      &pull-{c}
        right: percentage(c / length($styleColumns))
