// Loader

.loader 
  // width 100%
  height -webkit-fill-available
  background-color #142929 // #008f8f // #06cf67
  position relative
  left 0
  right 0
  // top 184px
  bottom 0
  margin auto
  max-width 100%
  max-height 100%
  overflow auto
  padding-top calc(50%) !important
  z-index 9999

.cssload-loader {
	position: relative;
	width: 14px;
	height: 14px;
	left: 46%;
	left: calc(50% - 7px);
		left: -o-calc(50% - 7px);
		left: -ms-calc(50% - 7px);
		left: -webkit-calc(50% - 7px);
		left: -moz-calc(50% - 7px);
	
	border-radius: 14px;
	background-color: white;
	transform-origin:	50% 50%;
		-o-transform-origin:	50% 50%;
		-ms-transform-origin:	50% 50%;
		-webkit-transform-origin:	50% 50%;
		-moz-transform-origin:	50% 50%;
	animation: cssload-loader 0.4s ease-in-out infinite
		-o-animation: cssload-loader 0.4s ease-in-out infinite
		-ms-animation: cssload-loader 0.4s ease-in-out infinite
		-webkit-animation: cssload-loader 0.4s ease-in-out infinite
		-moz-animation: cssload-loader 0.4s ease-in-out infinite
}

.cssload-loader:before {
	content: "";
	position: absolute;
	background-color: white;
	top: 0px;
	left: -28px;
	height: 14px;
	width: 14px;
	border-radius: 14px;
}

.cssload-loader:after {
	content: ""
	position: absolute
	background-color: white
	top: 0px
	left: 28px
	height: 14px
	width: 14px
	border-radius: 14px
}

@keyframes cssload-loader {
		0%{transform:rotate(0deg);}
		50%{transform:rotate(180deg);}
		100%{transform:rotate(180deg);}
}

@-o-keyframes cssload-loader {
		0%{-o-transform:rotate(0deg);}
		50%{-o-transform:rotate(180deg);}
		100%{-o-transform:rotate(180deg);}
}

@-ms-keyframes cssload-loader {
		0%{-ms-transform:rotate(0deg);}
		50%{-ms-transform:rotate(180deg);}
		100%{-ms-transform:rotate(180deg);}
}

@-webkit-keyframes cssload-loader {
		0%{-webkit-transform:rotate(0deg);}
		50%{-webkit-transform:rotate(180deg);}
		100%{-webkit-transform:rotate(180deg);}
}

@-moz-keyframes cssload-loader {
		0%{-moz-transform:rotate(0deg);}
		50%{-moz-transform:rotate(180deg);}
		100%{-moz-transform:rotate(180deg);}
}