/*************************************************************************/
/* Variables */
/* Base */
$fixedWidth = 1440px
$styleColumns = 1 2 3 4 5 6 7 8 9 10 11 12

$gutterSize = 16

$gutter = @block{
            padding-left: unit($gutterSize/2, px)
            padding-right: unit($gutterSize/2, px)
          }

$rowGutter = @block{
                margin-left: - unit($gutterSize/2, px)
                margin-right: - unit($gutterSize/2, px)
              }
