/*************************************************************************/
/* Media queries */
$mediaMobile = 0px;
$mediaTablet = 640px;
$mediaDesktop = 1024px;
$mediaLarge = 1280px;
$mediaExtraLarge = 1440px;

$mobile = "only screen and (min-width: " + $mediaMobile + ")";
$tablet = "only screen and (min-width: " + $mediaTablet + ")";
$desktop = "only screen and (min-width: " + $mediaDesktop + ")";
$largeDesktop = "only screen and (min-width: " + $mediaLarge + ")";
$extraLargeDesktop = "only screen and (min-width: " + $mediaExtraLarge + ")";
