/*************************************************************************/
/* Variables */
$baseInputBeforeDemensions = @block{
                              width: 20px;
                              height: 20px;
                             }

/* Radio button properties */
$radioGroupUpBeforeDemensions = @block{
                                  width: 16px;
                                  height: 16px;
                                }
