/*************************************************************************/
// $locale = 'locale'
$device = 'mobile'
$prefix = 'style'
$baseFontFamily = 'Arial'
$brandFontFamily = 'Helvetica'
// $s3Host = 'http://s3.host.com'

/* Colors */
$black = #111
$white = #FFF
$offwhite = #f7f7f7a8
$grey = #8D8D8D
$darkGrey = #222
$lightGrey = #E5E5E5
$mediumGrey = #DDD
$accent = #4ab38f
$error = #FE0000
$success = #48BD1F
$colorArray = 'black' $black,
              'white' $white,
              'offwhite' $offwhite,
              'grey' $grey,
              'dark-grey' $darkGrey,
              'light-grey' $lightGrey,
              'medium-grey' $mediumGrey,
              'accent' $accent,
              'error' $error,
              'success' $success
$globalFontSize = 12px
$globalLineHeight = 20px
$baseFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
$brandFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
$globalBaseFontFamily = $baseFontFamily
$globalBrandFontFamily = $brandFontFamily
$globalGlyphFontFamily = 'Glyphicons Halflings', sans-serif
$globalBaseTextColor = $black
$globalBaseBackgroundColor = $white

/* Border properties */
$globalBorderWidth = 1px
$globalBorderStyle = solid
$globalBorderRadius = 0

/* Margin properties */
$globalMarginSize = "0" 0, "1" .166666667, "2" .333333333, "3" .5, "4" .666666667, "5" .833333333, "6" 1, "7" 1.166666667, "8" 1.333333333, "9" 1.5, "10" 1.666666667, "11" 1.833333333, "12" 2
$globalNegativeMarginSize = "1" .166666667, "2" .333333333, "3" .5, "4" .666666667

/* Padding properties */
$globalPaddingSize = "0" 0, "1" .166666667, "2" .333333333, "3" .5, "4" .666666667, "5" .833333333, "6" 1, "7" 1.166666667, "8" 1.333333333, "9" 1.5, "10" 1.666666667, "11" 1.833333333, "12" 2

/* Border spacing properties */
$globalBorderSpacing = "1" .166666667, "2" .333333333, "3" .5, "4" .666666667, "5" .833333333, "6" 1, "7" 1.166666667, "8" 1.333333333, "9" 1.5, "10" 1.666666667, "11" 1.833333333, "12" 2

/* Z-index Pattern */
$zIndexes = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
$z0 = 0
$z1 = 1
$z2 = 2
$z3 = 3
$z4 = 4
$z5 = 5
$z6 = 6
$z7 = 7
$z8 = 8
$z9 = 9
$z10 = 10
